#container {
  display: none;
}

#loading {
  display: block;
  margin: auto;
}

.main-container {
  margin: 2rem;
}

#container-info {
  border: 1px solid black;
  margin: auto;
  padding: 2rem;
  width: 20%;
  text-align: center;
}
